extends templates/layout

block content
  h1= pageTitle
  if errorMessage
    span= errorMessage
  form(method="POST") 
    input(placeholder="username", type="text", name="username", required)
    input(placeholder="password", type="password", name="password", required)
    input(type="submit", value="Login")
  hr
  div 
    span Don't have an account?
    a(href="join") Join &rarr;
