form(method="POST")
  input(placeholder="Title", type="text", name="title", required)
  input(placeholder="Summary", type="text", name="summary", required)
  input(placeholder="Year", type="number", name="year", required)
  input(placeholder="Rating", type="number", name="rating", required)
  input(placeholder="Genres", type="text", name="genres", required)
  input(type="submit", value="Upload")
