doctype html 
html(lang="ko")
  head 
    title movie
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
  body 
    main
      h1= title
      h4= summary
      h5 
        each genre in genres 
          li= genre
      include partials/footer
